<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal del Paciente</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='css/publica_base.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/publica_dashboard.css')}}">
  <style>
  </style>
</head>

<body>

  <nav class="sidebar">
    <div class="sidebar-header">
      <h1> Rehab IoT </h1>
      <p style="font-size: 12px; color: var(--text-light); margin-top: 5px;">Portal Familiar</p>
    </div>
    <ul class="nav-links">
      <li><a href="{{url_for('publica_dashboard')}}" class="active"><i class="fa-solid fa-chart-pie"></i> Resumen
          General</a></li>
      <li><a href="{{url_for('publica_sesiones')}}"><i class="fa-solid fa-clock-rotate-left"></i> Historial de
          Sesiones</a></li>
      <li style="margin-top: auto;"><a href="{{url_for('principal')}}"><i
            class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesión</a></li>
    </ul>
  </nav>


  <main class="main-content">
    <div class="dashboard-container">
      <div class="header">
        <div>
          <h1>Hola: {{ paciente.nombre | default('Raul') }} 👋</h1>
          <p>Bienvenido a tu portal de bienestar</p>
        </div>
      </div>
      <div class="grid">

        <div class="card highlight">
          <h3>🗓️ Tu próxima sesión</h3>
        </div>

        <div class="card">
          <h3>🕰️ Tu última sesión</h3>
        </div>

        <div class="card">
          <h3>📝 Ejercicios asignados</h3>
          <ul class="exercise-list">
          </ul>
        </div>
      </div>

    </div>
  </main>

</body>

</html>
